# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Living Docs'
      'submenu': [
        {
          'label': 'Open Living File'
          'command': 'living-doc:open-file'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Living Doc'
      'submenu': [
        {
          'label': 'Open Living File'
          'command': 'living-doc:open-file'
        },
        {
          'label': 'Open Living File Preview'
          'command': 'living-doc:open-file-preview'
        },
        {
          'label': 'Open Living Folder'
          'command': 'living-doc:open-folder'
        },
        {
          'label': 'Open Living Folder Preview'
          'command': 'living-doc:open-folder-preview'
        }
      ]
    ]
  }
]
