# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'alt-J': 'living-doc:open-file',
  'alt-K': 'living-doc:open-folder',
  'ctrl-alt-j': 'living-doc:open-file-preview',
  'ctrl-alt-k': 'living-doc:open-folder-preview'
